body {
  background-color:rgb(221, 250, 215);
  color: black; 
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;

}
.text-center {
text-align: center;
}

.dark-background {
background-color: black;
color: white;
}

.wrapper {
width: auto;
margin: auto;
}